*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
fieldset{
    width: 180px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.enviar{
    margin-top: 5px;
}
#areadetexto{
    width: 100%;
}
